<!DOCTYPE html>
<html>
  <head>
    <title>CircleSharing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

      </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% elsif alert%>
        <p class="alert alert-danger"><%= alert %></p>
      <% else %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>
  <div class="container">

    <%= yield %>
  </body>
</html>
